/* regole generali */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* centratura */
.container-centratura{
    width: 70%;
    margin: auto;
}

/* regole header */
header{
    background-color: rgb(43, 61, 79);
    height: 85px;
    color: white;
}

.header-container{
    display: flex;
    justify-content: space-between;
    height: 85px;
    align-items: center;
}

.header-right{
    display: flex;
    width: 25%;
    justify-content: space-between;
}

/* regole sezione jumbotron */
.jumbotron{
    background-color: rgb(26, 188, 156);
    height: 550px;
    color: white;
    text-align: center;
    padding-top: 50px;
}

.jumbotron > .container-centratura > div > h1{
    font-size: 60px;
}

.avatar{
    max-width: 22%;
}

.star{
    width: 40%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.line{
    height: 4px;
    width: 160px;
    background-color: white;
    border-radius: 20px;
}

.star > i{
    font-size: 30px;
}

.wording > span{
    font-size: 25px;
}

/* regole sezione portfolio */
.portfolio{
    padding: 50px;
    color: rgb(51, 51, 51);
    text-align: center;
}

.portfolio > .container-centratura > h1{
    font-size: 50px;
}

.line-2{
    height: 4px;
    width: 160px;
    background-color: rgb(51, 51, 51);
    border-radius: 20px;
}

.col-4 > img{
    max-width: 100%;
    border-radius: 20px;
}